html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
body > .container,
body > .container-fluid {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}
.footer > .container,
.footer > .container-fluid {
  padding-right: 15px;
  padding-left: 15px;
}
code {
  font-size: 80%;
}
#tabs-content {
  padding-top: 25px;
}
#tabs-content .tab-content {
  min-height: 350px;
}
#tabs-content ul.links-list {
  list-style: none;
  max-width: 400px;
  margin-top: 5px;
}
#tabs-content ul.links-list li {
  min-height: 2em;
  vertical-align: middle;
  position: relative;
}
#tabs-content ul.links-list li input[type="checkbox"] {
  margin-right: 0.5em;
}
#tabs-content ul.links-list li input[type="text"] {
  display: none;
}
#tabs-content ul.links-list .glyphicon {
  color: #a94442;
  visibility: hidden;
  position: absolute;
  right: 0;
  opacity: 0.5;
}
#tabs-content ul.links-list li:hover .glyphicon {
  visibility: visible;
}
#tabs-content ul.links-list li:hover .glyphicon:hover {
  opacity: 1;
  cursor: pointer;
}
