//
   Created by dunice on 10.12.14.

// create block for our pagination
nav#todo-pagination
  ul.pagination
    li
      span(aria-hidden="true")
        a(href="#") &laquo;

    li.active
      a(href="#") 1

    li
      span(aria-hidden="true")
        a(href="#") &raquo;

// underscore template for generating pagination. see http://underscorejs.org/#template
script#todo-pagination-template(type="javascript/template")
  | <li><span aria-hidden="true">
  |   <a href="#" data-page="<%= (selectedPage > 1 ? selectedPage-1 : 1) %>">&laquo;</a>
  | </span></li>
  | <% for(var i=0; i<pageCount; i++) { %>
  |   <li class="<%= i+1==selectedPage ? 'active' : '' %>">
  |     <a href="#" data-page="<%= i+1 %>"><%= i+1 %></a>
  |   </li>
  | <% } %>
  | <li><span aria-hidden="true">
  |   <a href="#" data-page="<%= (selectedPage < pageCount ? selectedPage+1 : pageCount) %>">&raquo;</a>
  | </span></li>
