extends ../layout

block js
  // extend main JS section with our script
  script(src='/js/todo-app.js')

block content
  // 
    define 3 min section of TODO list: form, tabs with todos, action buttons

  .row#form-content
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      form#todo-form.form-inline(role="form")
        .form-group
          label(for="new-todo") Add ToDo
          input#new-todo.form-control(type="text", placeholder="Добавьте новое задание")
        button.btn.btn-success(type="submit") Добавить

  #tabs-content
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        #tabs(role="tabpanel")
          ul.nav.nav-tabs(role="tablist")
            li.active(role="presentation")
              a(href="#all", aria-controls="all", role="tab", data-toggle="tab") Все
            li(role="presentation")
              a(href="#checked", aria-controls="checked", role="tab", data-toggle="tab") Отмеченные
            li(role="presentation")
              a(href="#unchecked", aria-controls="unchecked", role="tab", data-toggle="tab") Не отмеченные

          .tab-content
            include links-template

            #all.tab-pane.fade.in.active(role="tabpanel")
            #checked.tab-pane.fade(role="tabpanel")
            #unchecked.tab-pane.fade(role="tabpanel")

        include pagination

  .row#action-content
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      .btn-group(role="group", area-lable="actions")
        button#remove-checked.btn.btn-danger(type="button") Удалить отмеченные
        button#remove-all.btn.btn-danger(type="button") Удалить все
