doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')

    title= title

    link(rel="stylesheet", href="/components/bootstrap/dist/css/bootstrap.min.css")
    link(rel='stylesheet', href='/css/todo.css')
    block css

    script(src='/components/jquery/dist/jquery.min.js')
    script(src='/components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/components/underscore/underscore-min.js')
    // should be commented for "stable" version. Only for dev purposes
    // script(src='http://localhost:35729/livereload.js')
    block js
  body
    // move all header with all future links, etc to independent template
    include header

    // wrap all content with .container-fluid
    .container-fluid
      block content

    // same to footer
    include footer
